<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Pb_ECP</display-name>
  <description>电商平台</description>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pb.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>pb.login.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FirsttypeServlet</display-name>
    <servlet-name>FirsttypeServlet</servlet-name>
    <servlet-class>pb.firsttype.FirsttypeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FirtypeinsServlet</display-name>
    <servlet-name>FirtypeinsServlet</servlet-name>
    <servlet-class>pb.firsttype.FirtypeinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FirtypeupdServlet</display-name>
    <servlet-name>FirtypeupdServlet</servlet-name>
    <servlet-class>pb.firsttype.FirtypeupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SectypeServlet</display-name>
    <servlet-name>SectypeServlet</servlet-name>
    <servlet-class>pb.secondtype.SectypeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SectypeinsServlet</display-name>
    <servlet-name>SectypeinsServlet</servlet-name>
    <servlet-class>pb.secondtype.SectypeinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SectypeupdServlet</display-name>
    <servlet-name>SectypeupdServlet</servlet-name>
    <servlet-class>pb.secondtype.SectypeupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ThitypeServlet</display-name>
    <servlet-name>ThitypeServlet</servlet-name>
    <servlet-class>pb.thirdtype.ThitypeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ThitypeinsServlet</display-name>
    <servlet-name>ThitypeinsServlet</servlet-name>
    <servlet-class>pb.thirdtype.ThitypeinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ThitypeupdServlet</display-name>
    <servlet-name>ThitypeupdServlet</servlet-name>
    <servlet-class>pb.thirdtype.ThitypeupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttributeServlet</display-name>
    <servlet-name>AttributeServlet</servlet-name>
    <servlet-class>pb.attribute.AttributeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttributeinsServlet</display-name>
    <servlet-name>AttributeinsServlet</servlet-name>
    <servlet-class>pb.attribute.AttributeinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttributeupdServlet</display-name>
    <servlet-name>AttributeupdServlet</servlet-name>
    <servlet-class>pb.attribute.AttributeupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttrigServlet</display-name>
    <servlet-name>AttrigServlet</servlet-name>
    <servlet-class>pb.attributeg.AttrigServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttriginsServlet</display-name>
    <servlet-name>AttriginsServlet</servlet-name>
    <servlet-class>pb.attributeg.AttriginsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttrigupdServlet</display-name>
    <servlet-name>AttrigupdServlet</servlet-name>
    <servlet-class>pb.attributeg.AttrigupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ThiattServlet</display-name>
    <servlet-name>ThiattServlet</servlet-name>
    <servlet-class>pb.thiatt.ThiattServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ThiattinsServlet</display-name>
    <servlet-name>ThiattinsServlet</servlet-name>
    <servlet-class>pb.thiatt.ThiattinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ItemServlet</display-name>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>pb.item.ItemServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ItemattServlet</display-name>
    <servlet-name>ItemattServlet</servlet-name>
    <servlet-class>pb.itematt.ItemattServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ItemattinsServlet</display-name>
    <servlet-name>ItemattinsServlet</servlet-name>
    <servlet-class>pb.itematt.ItemattinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>pb.cart.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SalorderServlet</display-name>
    <servlet-name>SalorderServlet</servlet-name>
    <servlet-class>pb.salorder.SalorderServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>IteminsServlet</display-name>
    <servlet-name>IteminsServlet</servlet-name>
    <servlet-class>pb.item.IteminsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SalorderinsServlet</display-name>
    <servlet-name>SalorderinsServlet</servlet-name>
    <servlet-class>pb.salorder.SalorderinsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SalorderupdServlet</display-name>
    <servlet-name>SalorderupdServlet</servlet-name>
    <servlet-class>pb.salorder.SalorderupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ItemshowServlet</display-name>
    <servlet-name>ItemshowServlet</servlet-name>
    <servlet-class>pb.item.ItemshowServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ItemupdServlet</display-name>
    <servlet-name>ItemupdServlet</servlet-name>
    <servlet-class>pb.item.ItemupdServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ListSearchServlet</display-name>
    <servlet-name>ListSearchServlet</servlet-name>
    <servlet-class>pb.search.ListSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>pb.index.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>RemarkServlet</display-name>
    <servlet-name>RemarkServlet</servlet-name>
    <servlet-class>pb.remark.RemarkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输出验证码</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PictureCheckCode</servlet-name>
    <servlet-class>pb.login.PictureCheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/login/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirsttypeServlet</servlet-name>
    <url-pattern>/firtype/FirsttypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirtypeinsServlet</servlet-name>
    <url-pattern>/firtype/FirtypeinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirtypeupdServlet</servlet-name>
    <url-pattern>/firtype/FirtypeupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SectypeServlet</servlet-name>
    <url-pattern>/sectype/SectypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SectypeinsServlet</servlet-name>
    <url-pattern>/sectype/SectypeinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SectypeupdServlet</servlet-name>
    <url-pattern>/sectype/SectypeupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThitypeServlet</servlet-name>
    <url-pattern>/thitype/ThitypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThitypeinsServlet</servlet-name>
    <url-pattern>/thitype/ThitypeinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThitypeupdServlet</servlet-name>
    <url-pattern>/thitype/ThitypeupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeServlet</servlet-name>
    <url-pattern>/attribute/AttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeinsServlet</servlet-name>
    <url-pattern>/attribute/AttributeinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeupdServlet</servlet-name>
    <url-pattern>/attribute/AttributeupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttrigServlet</servlet-name>
    <url-pattern>/attrig/AttrigServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttriginsServlet</servlet-name>
    <url-pattern>/attrig/AttriginsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttrigupdServlet</servlet-name>
    <url-pattern>/attrig/AttrigupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThiattServlet</servlet-name>
    <url-pattern>/thi_att/ThiattServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThiattinsServlet</servlet-name>
    <url-pattern>/thi_att/ThiattinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/item/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemattServlet</servlet-name>
    <url-pattern>/item_att/ItemattServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemattinsServlet</servlet-name>
    <url-pattern>/item_att/ItemattinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalorderServlet</servlet-name>
    <url-pattern>/salorder/SalorderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IteminsServlet</servlet-name>
    <url-pattern>/item/IteminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemupdServlet</servlet-name>
    <url-pattern>/item/ItemupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemshowServlet</servlet-name>
    <url-pattern>/item/ItemshowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalorderupdServlet</servlet-name>
    <url-pattern>/salorder/SalorderupdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalorderinsServlet</servlet-name>
    <url-pattern>/salorder/SalorderinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListSearchServlet</servlet-name>
    <url-pattern>/search/ListSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>RemarkServlet</servlet-name>
    <url-pattern>/remark/RemarkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureCheckCode</servlet-name>
    <url-pattern>/login/PictureCheckCode</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>